@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스크롤바 숨기기 */
html {
  scrollbar-width: none; /* Firefox */
}

body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

::-webkit-scrollbar {
  width: 0px; /* 스크롤바 너비를 0으로 설정하여 숨김 */
  height: 0px; /* 가로 스크롤바도 숨기려면 height도 설정 */
}



.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
